<div class="overflow-x-auto">
  <table class="min-w-full bg-white">
    <thead class="bg-gray-50">
      <tr>
        {% for header in headers %}
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"> {{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody
      id="tbody"
      class="bg-white divide-y divide-gray-200"
      hx-trigger="{{ trigger }}"
      hx-swap="{{ swap }}"
      hx-get="{{ url }}"
     >
    </tbody>
  </table>
</div>

