{% extends 'base.html' %}
{% load static %}

{% block css-external %} 
  <link href="{% static 'css/navbar.css' %}" rel="stylesheet" type="text/css" />
{% endblock css-external %}

{% block layout %}
<div class="flex">

  {% include 'components/navbar.html'%}

  <div class="flex-1 mx-3">
    <div class="flex flex-col flex-shrink-0 p-3">

      <h1 class="text-2xl my-2 font-semibold">{% block page-title %}{% endblock page-title %}</h1>

      <div class="breadcrumbs text-sm my-2 mx-3">
        <ul>
          {% block breadcrumb %}
          {% endblock breadcrumb %}
        </ul>
      </div>

      {% block content %}
      {% endblock content %}

    </div>
  </div>
</div>
{% endblock layout %}
