{% extends 'layout.html' %}
{% load i18n static %}

{% block title %}{% trans 'Orders' %}{% endblock title %}

{% block page-title %}
<i class="bi bi-award mx-2"></i>
{% trans 'Orders' %}
{% endblock page-title %}

{% block breadcrumb %}
<c-breadcrumb-link href="{% url 'orders:list' %}" icon="bi bi-award" title="{% trans 'Orders' %}" />
{% endblock breadcrumb %}

{% block content %}

<div class="stats shadow mx-3 my-2"
  hx-get="{% url 'orders:stats' %}"
  hx-trigger="load, refreshOrders"
  hx-swap="innerHTML"
>

</div>

<div class="flex justify-end mb-2">
  <a
    class="btn btn-success"
    href="{% url 'orders:create' %}"
  >
    <i class="bi bi-plus mr-2"></i> {% trans 'New Order' %}
  </a>
</div>

<c-table
  :headers="['{% trans 'Client'%}', '{% trans 'Due Date'%}', '{% trans 'Order Date'%}', '{% trans 'Total'%}', '{% trans 'Completed'%}']"
  trigger="load, refreshOrders"
  swap="innerHTML"
  url="{% url 'orders:htmx' %}"
/>

<c-modal />

{% endblock content %}
