{% load i18n static %}

<form method="dialog">
  <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
</form>
<div class="py-3">
  {% if object.pk %}
    <h3 class="mb-4 text-center font-bold">{% trans 'Update Client' %}</h3>
  {% else %}
    <h3 class="mb-4 text-center font-bold">{% trans 'New Client' %}</h3>
  {% endif %}
  <form 
    method="post"
    novalidate
    {% if object.pk %}
      hx-post="{% url 'clients:update' object.pk %}"
    {% else %}
      hx-post="{% url 'clients:create' %}"
    {% endif %}
    hx-target="#modal-content"
    hx-swap="innerHTML"
  >
      {% csrf_token %}
      <div class="grid grid-cols-2 gap-4">

          {% for field in form %}
          <div class="form-control">
            <label 
              class="input w-full {% if field.errors %} input-error {% endif %}" 
              for="{{ field.id_for_label }}"
            >
              <span class="label">{{ field.label }}</span>
              <input 
                type="{{ field.field.widget.input_type }}" 
                name="{{ field.name }}" 
                id="{{ field.id_for_label }}"
                value="{{ field.value|default:'' }}" 
                {% if field.field.required %}required{% endif %}
                placeholder="{{ field.help_text|default:'' }}" />
              {% if field.field.required %}
                <span class="badge badge-secondary badge-xs">Required</span>
              {% else %}
                <span class="badge badge-neutral badge-xs">Optional</span>
              {% endif %}
            </label>

            <!-- {% if field.field.widget.input_type == 'checkbox' %} -->
            <!--     <label class="label cursor-pointer"> -->
            <!--       {{ field }} -->
            <!--       <span class="label-text">{{ field.label }}</span> -->
            <!--     </label> -->
            <!-- {% elif field.field.widget.input_type == 'textarea' %} -->
            <!--   <textarea  -->
            <!--     name="{{ field.name }}"  -->
            <!--     id="{{ field.id_for_label }}" -->
            <!--     class="textarea textarea-bordered {% if field.errors %}textarea-error{% endif %}" -->
            <!--     {% if field.field.required %}required{% endif %} -->
            <!--     placeholder="{{ field.help_text|default:'' }}">{{ field.value|default:'' }}</textarea> -->
            <!-- {% endif %} -->

            <!-- Display field errors -->
            {% if field.errors %}
              <div class="label">
                {% for error in field.errors %}
                  <span class="text-error">{{ error }}</span>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          {% endfor %}
    </div>
    <div class="modal-action">
      <button 
        type="submit"
        class="btn btn-success">
        {% trans 'Save' %}
      </button>
    </div>
  </form>
</div>
