{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Clients' %}{% endblock %}

{% block page-title %}
    <i class="bi bi-award mx-2"></i>
    {% trans 'Clients' %}
{% endblock %}

<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'clients:list' %}">{% trans 'List' %}</a>
    </li>
</ol>
{% endblock %}

{% block content %}
 
  <div id="tabela-clientes"></div>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary">Novo</button>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detalhes do Cliente</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>  

  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        new gridjs.Grid({
          columns: [
          "Cidade",
          "Nome",
          "Telefone",
          "Anotações",
          {
            name: "Ações",
            formatter: (_, row) => {
              const clientId = row.cells[0].data;
              const clientName = row.cells[1].data; // Nome
              const clientPhone = row.cells[2].data; // Telefone
              const clientAnnotations = row.cells[3].data; // Anotações
          
              return gridjs.html(`
                <button 
                  class="btn btn-primary btn-sm" 
                  data-bs-toggle="modal" 
                  data-bs-target="#exampleModal" 
                  onclick="mostrarDetalhes('${clientId}', '${clientName}', '${clientPhone}', '${clientAnnotations}')">
                  Detalhes
                </button>
                 <button 
                  class="btn btn-danger btn-sm" 
                  data-bs-toggle="modal" 
                  data-bs-target="#deleteModal" 
                  onclick="confirmDelete('${clientId}')">
                  Excluir
                </button>
              `);
            }
          }
          
        ],
            data: [
                {% for client in clients %}
                    [
                    "{{ client.address.city }}",
                     "{{ client.name }}", "{{ client.phone }}",
                     "{{ client.annotations }}"
                     ]
                    {% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            pagination: 2,
            search: true,
            sort: true,
            language: {
              search: {
                placeholder: '🔍 Search...'
              }
            }
        }).render(document.getElementById("tabela-clientes"));
    });

      function mostrarDetalhes(id, name, phone, annotations) {
        // Preenche o título do modal
        document.getElementById("exampleModalLabel").innerText = `Detalhes do Cliente: ${name}`;
        
        // Preenche o corpo do modal com as informações do cliente
        document.getElementById("modal-body").innerHTML = `
          <p><strong>ID:</strong> ${id}</p>
          <p><strong>Telefone:</strong> ${phone}</p>
          <p><strong>Anotações:</strong> ${annotations}</p>
        `;
      }    
  </script>
{% endblock %}


<!-- <div class="container-fluid">
  <div class="table-responsive" style="max-width: 80%; margin: 0 auto;">
    <table class="table table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="col-1">{% trans 'City' %}</th>
          <th scope="col" class="col-4">{% trans 'Name' %}</th>
          <th scope="col" class="col-2">{% trans 'Phone' %}</th>
          <th scope="col" class="col-3">{% trans 'Annotations' %}</th>
          <th scope="col" class="col-2">{% trans 'Actions' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
        <tr>
          <td>{{ client.address.city }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.phone }}</td>
          <td>{{ client.annotations }}</td>
          <td class="col-4">
            <a href="{% url 'clients:detail' client.pk %}" class="btn btn-info btn-sm">
              <i class="bi bi-pencil"></i>
            </a>
            <a href="#" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ client.pk }}">
              <i class="bi bi-trash3-fill"></i> 
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="2">{% trans 'No clients available.' %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
