{% extends 'layout.html' %}
{% load i18n %}

{% block title %}{% trans 'Garments' %}{% endblock title %}
{% block page-title %}
  <i class="bi bi-award mx-2"></i>
  {% trans 'Garments' %}
{% endblock page-title %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'garments:list' %}">{% trans 'List' %}</a></li>
</ol>
{% endblock breadcrumb %}

{% block content %}
  <ul>
    {% for garment in garments %}
      <li>
        <a href="{% url 'garments:detail' garment.pk %}">{{ garment.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
