{% load static i18n %} {% block navbar %}
<div class="flex-shrink-0 p-3 shadow" style="width: 280px; height: 100vh">
  <a
    href="{% url 'garments:list' %}"
    class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom"
  >
    <svg class="bi pe-none me-2" width="30" height="24">
      <use xlink:href="#bootstrap"></use>
    </svg>
    <span class="fs-5 fw-semibold">AMS</span>
  </a>
  <ul class="list-unstyled ps-0">
    <li class="mb-1">
      <button
        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse"
        data-bs-target="#home-collapse"
        aria-expanded="false"
      >
        <i class="bi bi-pin mx-2"></i>

        {% trans 'Sewing' %}
      </button>
      <div class="collapse" id="home-collapse" style="">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
          <li>
            <a
              href="{% url 'clients:list' %}"
              class="link-body-emphasis d-inline-flex text-decoration-none rounded"
            >
              <i class="bi bi-person mx-2"></i>
              {% trans 'Clients' %}
            </a>
          </li>
          <li>
            <a
              href="{% url 'tasks:list' %}"
              class="link-body-emphasis d-inline-flex text-decoration-none rounded"
            >
              <i class="bi bi-book mx-2"></i>
              {% trans 'Tasks' %}
            </a>
          </li>
          <li>
            <a
              href="{% url 'task_types:list' %}"
              class="link-body-emphasis d-inline-flex text-decoration-none rounded"
            >
              <i class="bi bi-book-half mx-2"></i>
              {% trans 'Task Types' %}
            </a>
          </li>
          <li>
            <a
              href="{% url 'orders:list' %}"
              class="link-body-emphasis d-inline-flex text-decoration-none rounded disabled"
            >
              <i class="bi bi-cart mx-2"></i>
              {% trans 'Orders' %}
            </a>
          </li>
        </ul>
      </div>
    </li>
    <!--<li class="mb-1">-->
    <!--  <button-->
    <!--    class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"-->
    <!--    data-bs-toggle="collapse"-->
    <!--    data-bs-target="#dashboard-collapse"-->
    <!--    aria-expanded="false"-->
    <!--  >-->
    <!--    <i class="bi bi-box2 mx-2"></i>-->
    <!--    {% trans 'Manufacturing' %}-->
    <!--  </button>-->
    <!--  <div class="collapse" id="dashboard-collapse" style="">-->
    <!--    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">-->
    <!--      <li>-->
    <!--        <a-->
    <!--          href="{% url 'garments:list' %}"-->
    <!--          class="link-body-emphasis d-inline-flex text-decoration-none rounded"-->
    <!--        >-->
    <!--          <i class="bi bi-award mx-2"></i>-->
    <!--          {% trans 'Garments' %}-->
    <!--        </a>-->
    <!--      </li>-->
    <!--      <li>-->
    <!--        <a-->
    <!--          href="{% url 'materials:list' %}"-->
    <!--          class="link-body-emphasis d-inline-flex text-decoration-none rounded"-->
    <!--        >-->
    <!--          <i class="bi bi-backpack mx-2"></i>-->
    <!--          {% trans 'Materials' %}-->
    <!--        </a>-->
    <!--      </li>-->
    <!--      <li>-->
    <!--        <a-->
    <!--          href="{% url 'sales:list' %}"-->
    <!--          class="link-body-emphasis d-inline-flex text-decoration-none rounded"-->
    <!--        >-->
    <!--          <i class="bi bi-bag mx-2"></i>-->
    <!--          {% trans 'Sales' %}-->
    <!--        </a>-->
    <!--      </li>-->
    <!--    </ul>-->
    <!--  </div>-->
    <!--</li>-->
  </ul>
</div>
{% endblock navbar %}
