{% load static i18n %} {% block navbar %}
<div x-data="{ open: $persist(false) }" class="flex-shrink-0 p-3 shadow-md w-70 h-auto">
  <a href="{% url 'orders:list' %}" class="flex items-center pb-3 mb-3">
    <span class="text-xl font-semibold">AMS</span>
  </a>
  <div class="border-t border-gray-200 mb-3"></div>
      <button
        class="flex items-center w-full px-3 py-2 text-left hover:text-gray-600 rounded border-0 transition-colors duration-200"
        :class="open ? 'font-semibold text-gray-600' : '' "
        @click="open = !open"
      >
        <i :class="open ? 'bi bi-arrow-down' : 'bi bi-arrow-right'" class="mr-2" > </i>
        {% trans 'Sewing' %}
      </button>
      <div 
        x-show="open"
        x-collapse
        x-collapse.duration.400ms>
        <ul class="ml-4 mt-2 space-y-1 text-sm">
          <c-navlink href="{% url 'clients:list' %}" icon="bi bi-person" title="{% trans 'Clients'%}" ></c-navlink>
          <c-navlink href="{% url 'tasks:list' %}" icon="bi bi-book" title="{% trans 'Tasks'%}" ></c-navlink>
          <c-navlink href="{% url 'task_types:list' %}" icon="bi bi-book-half" title="{% trans 'Task Types'%}" ></c-navlink>
          <c-navlink href="{% url 'orders:list' %}" icon="bi bi-cart" title="{% trans 'Orders'%}" ></c-navlink>
        </ul>
      </div>
</div>
{% endblock navbar %}
